<h1>INFO</h1>
    <ul>
        <li><h4>Argumentos de entrada:</h4>{{argv}}</li>
        <li><h4>Nombre de la plataforma (sistema operativo):</h4>{{process.platform}}</li>
        <li><h4>Versión de node.js:</h4>{{process.version}}</li>
        <li><h4>Memoria total reservada (rss):</h4>{{memory}}</li>
        <li><h4>Path de ejecución:</h4>{{process.execPath}}</li>
        <li><h4>Process id:</h4>{{process.pid}}</li>
        <li><h4>Carpeta del proyecto:</h4>{{ruta}}</li>
    </ul>
<h5>Redireccionamientos</h5>
    <a href="/instrucciones_api" class="btn btn-dark btn-sm active btn-ir-a" role="button" aria-pressed="true">Instrucciones</a></br>
    <a href="/chat" class="btn btn-dark btn-sm active btn-ir-a" role="button" aria-pressed="true">Chat</a>